<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
        function check() {
          //  $.ajax({
          //   type: "POST",
          //   url: "/test",
          //   data: { title_give:'봄날은간다' },
          //   success: function(response){
          //       console.log(response)
          //   }
          // })
          //   $.ajax({
          //       type: "POST",
          //       url: "/test",
          //       data: {rank_give:2,star_give:5},
          //       success: function(response){
          //           console.log(response)
          //       }
          //   })
          $.ajax({
            type: "POST",
            url: "/new",
            data: { rank_give:'99', star_give:'5', title_give:'청년경찰' },
            success: function(response){
                console.log(response)
            }
          })
        }
    </script>
</head>

<body>
    <button onclick="check()">123!!</button>
</body>
</html>